In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
airbnb = pd.read_csv(r'C:\Users\eduar\Downloads\listings1.csv\listings1.csv')

In [4]:
airbnb.head(3)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,14714,Private room c/ bathroom . Colonia Juarez.,57785,Diego,NaN,Cuauhtémoc,19.43035,-99.15511,Private room,478,2,0,NaN,NaN,2,327
1,22787,"Sunny suite w/ queen size bed, inside boutique...",87973,Diego,NaN,Cuauhtémoc,19.44076,-99.16324,Private room,1969,1,57,2019-05-27,0.52,9,355
2,33681,Couple of Rooms,145672,Edubiel,NaN,Tlalpan,19.27215,-99.21848,Private room,1740,1,0,NaN,NaN,1,365

In [5]:
airbnb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19030 entries, 0 to 19029
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              19030 non-null  int64
 1   name                            19017 non-null  object
 2   host_id                         19030 non-null  int64
 3   host_name                       18968 non-null  object
 4   neighbourhood_group             0 non-null      float64
 5   neighbourhood                   19030 non-null  object
 6   latitude                        19030 non-null  float64
 7   longitude                       19030 non-null  float64
 8   room_type                       19030 non-null  object
 9   price                           19030 non-null  int64
 10  minimum_nights                  19030 non-null  int64
 11  number_of_reviews               19030 non-null  int64
 12  last_review                     14222 non-null  object
 13  reviews_per_month               14222 non-null  float64
 14  calculated_host_listings_count  19030 non-null  int64
 15  availability_365                19030 non-null  int64
dtypes: float64(4), int64(7), object(5)
memory usage: 2.3+ MB

In [ ]:
airbnb.head()